# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-app
dist-installer
dist-ssr
*.exe
*.dll
*.pak
*.dat
*.bin
*.asar
*.msi
*.dmg
*.deb
*.rpm
release/
build/
win-unpacked/
mac-unpacked/
linux-unpacked/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
server/.env
