# CONFIGURACIÓN PARA HOSTINGER (PRODUCCIÓN)
PORT=3000

# Base de Datos de Hostinger (Crea una en el hPanel)
DB_HOST=localhost
DB_USER=USUARIO_DB_HOSTINGER
DB_PASSWORD=PASSWORD_DB_HOSTINGER
DB_NAME=NOMBRE_DB_HOSTINGER
DB_PORT=3306

# Configuración de Sirila
NODE_ENV=production
SIRILA_SERVER_URL=/api
